body{
	margin-left:80;
	margin-right:73;
}

.mySlides {display:none;}
.mySlides {display:none;}

.topsection{
	background-image: url("../bikationimgs/Backgroung.jpg");
    background-repeat: no-repeat;
	font-family: 'Montserrat',sans-serif;
	width:100%;
	height:200px;
	color:#ff6600;
	text-align:center;
	font-size:28;
	
	padding-top:30;
}

.Guwahatihead{
	border-bottom: 10px solid #eb952e;
	color:black;
	font-family: 'Montserrat',sans-serif;
	font-size:22;
}

.txt{
	font-family: 'Montserrat',sans-serif;
	color: #ff6600;
	font-size:40;
	font-weight: bold;
}

.txt1{
	font-family: 'Montserrat',sans-serif;
	font-style: italic;
	color: #ff6600;
	font-size:25;
}

.scroll {
    width: 830px;
    height: 270px;
    overflow: scroll;
}

.Info1{
	background-color:grey;
	width: 48%;
	height:150px;
	display:inline-block;
	
}

.greylater{
	background-color:#f0f0f0;
	padding-left:30;
	font-size:20;
	font-family: 'Montserrat',sans-serif;
	width:48%;
	height:150px;
	display:inline-block;
	position:relative;
	bottom:11px;
	left:1px;
	
}
@media  screen and (max-width: 1366px) {
    body{
	margin-left:80;
	margin-right:73;
}

.mySlides {display:none;}
.mySlides {display:none;}

.topsection{
	background-image: url("../bikationimgs/Backgroung.jpg");
    background-repeat: no-repeat;
	font-family: 'Montserrat',sans-serif;
	width:100%;
	height:200px;
	color:#ff6600;
	text-align:center;
	font-size:28;
	
	padding-top:30;
}

.Guwahatihead{
	border-bottom: 10px solid #eb952e;
	color:black;
	font-family: 'Montserrat',sans-serif;
	font-size:22;
}

.txt{
	font-family: 'Montserrat',sans-serif;
	color: #ff6600;
	font-size:40;
	font-weight: bold;
}

.txt1{
	font-family: 'Montserrat',sans-serif;
	font-style: italic;
	color: #ff6600;
	font-size:25;
}

.scroll {
    width: 680px;
    height: 270px;
    overflow: scroll;
}

.Info1{
	background-color:grey;
	width: 48%;
	height:150px;
	display:inline-block;
	
}

.greylater{
	background-color:#f0f0f0;
	padding-left:30;
	font-size:20;
	font-family: 'Montserrat',sans-serif;
	width:48%;
	height:150px;
	display:inline-block;
	position:relative;
	bottom:11px;
	left:1px;
	
}
}
