
body {
    background-color: transparent;
    font-family: 'Montserrat',sans-serif;
	height:100%;
	width:100%;
    background-image: url(../imgs/2.jpg);
    background-attachment: fixed;
    background-repeat:no-repeat;
    background-size: cover;
    margin: 0;
}
.topnav{
        background-color: black;
                
}
.topnav ul{
    `   list-style-type: none;
        margin: 0;
        padding-top: 30px;
        padding-bottom: 30px;
        background-color: black;
        display: inline-block;
        position: relative;
        left: 25%;

}
li{
        display : inline;
        padding-left: 10px;
        padding-right: 10px;
}
a{
        
        font-family: 'Montserrat',sans-serif;
        font-weight: 700;
        color : white; 
        font-size: 25px;
        background-color: black;
        text-align: center;
        text-decoration: none;
}

img.logo{
        height: 80px;
        float: left;
        margin-left: 20px;
}
.box{
	height:400px;

	color:white;
	padding-left:20px;
	background: rgba(0, 0, 0, 0.2);
	padding-top:30px;
	padding-bottom:6px;
    font-weight: 600;
	
}

label{
    font-family: 'Montserrat',sans-serif;
    font-weight: 900;
    font-size: 20px;
    
}
ol.points{
    display: block;
    list-style-type: decimal;
}
li.bullet{
    display: block;
    list-style-type:decimal;
}
input[type='submit']{
    border: 2px solid black;
    border-radius: 2px;
    font-family: 'Montserrat',sans-serif;
    font-weight: 900;
    font-size: 20px;
    background-color: rgba(255,255,255,0);
    color: black;
    width:120px;
    height: 40px;
    position: relative;
    left:21%;

    
}
input[type='file']{
    border: 2px solid black;
    border-radius: 2px;
    font-family: 'Montserrat',sans-serif;
    font-weight: 900;
    font-size: 20px;
    background-color: rgba(255,255,255,0);
    color: black;
}
.txt{
	color:black;
	font-family: 'Montserrat',sans-serif;
	background-color:transparent;
	text-align:center;
}
.form{
    margin-left: 40px;
}

/* Container around content */
.container {
    padding: 10px 40px;
    position: relative;
    
    width: 50%;
	background-color:transparent;
}


/* The actual content */
.content {
    padding: 20px 30px;
    background-color: black;
	color:white;
    position: relative;
    border-radius: 6px;
}

.subscribe
{
	font-family: 'Montserrat',sans-serif;
	background-color: black;
	width: 100%;
	height: 300px;
	color:  white;
	font-size: 30px;

}
img.logo{
        height: 80px;
        float: left;
        margin-left: 20px;
}
/* Media queries - Responsive timeline on screens less than 600px wide */
